body {
    font-family: 'Arial', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: aqua;
}

.calculator-container {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.operation-container {
    display: flex;
    justify-content: space-around;
}

.container {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f7f7f7;
}

button {
    padding: 10px;
    cursor: pointer;
}
